/* Global CSS */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/*  Global Variables */
:root {
  --border-color: radial-gradient(
    13932987.76% 52.13% at 50% 2900%,
    #fff 0%,
    #020617 100%
  );
  --border-right-gradient: radial-gradient(
    66.2% 24750% at 50% 50%,
    #909090 1.56%,
    #020617 100%
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020617;
  font-family: "Inter", sans-serif !important;
}

p,
a,
button {
  font-family: "Inter", sans-serif !important;
}
.paraText {
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 112%;
}

.quoteText {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.trust-text {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
.custom-trust-text {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.customText {
  background: linear-gradient(90deg, #6dffc1 1.41%, #bd9eff 37.13%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textH {
  font-family: Manrope;
  font-size: 4.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
}
.cardPara p {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  color: #cbd5e1;
}
.button a p {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

@keyframes slide {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.marqueeBox-1 {
  animation: slide-1 22s linear infinite;
}

@keyframes slide-1 {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(100%);
  }
}

.shedBg {
  background: linear-gradient(180deg, #020617 2.83%, rgba(2, 6, 23, 0) 100.87%);
}
.shedBg-1 {
  background: linear-gradient(0deg, #020617 0.83%, rgba(2, 6, 23, 0) 100.87%);
}
.marqueeBox {
  animation: slide 22s linear infinite;
}
.svgBox {
  color: rgba(255, 255, 255, 0.5);
}

.yMarquee {
  animation: slide-y 52s linear infinite;
}
@keyframes slide-y {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.svgBox:hover {
  color: #fff;
}

svg path {
  transition: 0.3s ease;
}

.svgBox:hover path {
  stroke: #ea580c;
}

/* .borderColor{
    border-right: 2px solid var(--border-right-gradient);
} */

.customT {
  font-family: manrope;
}
.backImg {
  /* background-position: right 35% bottom 45%;; */
  background-image: url('Assets/Images/bgGradient.png');
}
/* .customHr{
    height: 2px ;
    border-bottom: 2px solid radial-gradient(circle, rgba(144,144,144,1) 0%, rgba(2,6,23,1) 150%);
} */
.backGround {
  background-color: red;
}

.bgBrown {
  background-color: #4a044e;
}

.bgGreen {
  background-color: #78a445;
}

.task-card {
  position: relative;
  background: radial-gradient(
    circle,
    rgba(144, 144, 144, 1) 50%,
    rgba(2, 6, 23, 1) 100%
  );
}

.task-card-inner {
  background: #020617;
  padding: 12px;
}
.task-card-inner:hover {
  background: #0f172a;
}

.customDiv {
  background: rgb(144, 144, 144);
  background: radial-gradient(
    circle,
    rgba(144, 144, 144, 1) 50%,
    rgba(2, 6, 23, 1) 100%
  );
  padding: 1px;
}

.shopifyBg {
  background-image: url("./Assets/Images/bgGradient.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-clip: content-box;
  /* background-size: cover; */
}


.cardHead {
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.cardParaHead h5 {
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.cardParaHead p {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  color: #cbd5e1;
}

.card-1,
.card-2,
.card-3 {
  border: 1px solid transparent;
  border-image: radial-gradient(
    circle,
    rgba(144, 144, 144, 1) 47%,
    rgba(2, 6, 23, 1) 100%
  );
  border-image-slice: 1;
  transition: background-image 1s ease, box-shadow 0.5s ease;
  border-radius: 1.25rem;
}

.card-1 {
  background: linear-gradient(
    180deg,
    #0f6d8b 0%,
    #256a9c 0%,
    rgba(37, 106, 156, 0) 38.07%
  );
}

.card-1:hover {
  border: none;
  background: linear-gradient(
    180deg,
    #0f6d8b 0%,
    #256a9c 0%,
    rgba(37, 106, 156, 0) 68.07%
  );
  border-image-slice: 1;
  box-shadow: inset 0 0px 0 4px #0f6d8b;
}

.card-2 {
  background: linear-gradient(180deg, #02687e 0%, rgba(2, 104, 126, 0) 37.34%);
}

.card-2:hover {
  border: none;
  background: linear-gradient(180deg, #02687e 0%, rgba(2, 104, 126, 0) 68.34%);
  box-shadow: inset 0 0px 0 4px #02687e;
}

.card-3 {
  background: linear-gradient(180deg, #152190 0%, rgba(21, 33, 144, 0) 38.3%);
}
.card-3:hover {
  border: none;
  background: linear-gradient(180deg, #152190 0%, rgba(21, 33, 144, 0) 70.3%);
  box-shadow: inset 0 0px 0 4px #152190;
}

.paralxBg {
  background: url("Assets/Images/paralx-bg.png");
}

.cusFuture {
  background: linear-gradient(90deg, #6dffc1 59.9%, #bd9eff 99.94%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bgImg{
  border: 2px solid transparent;
  border-image: radial-gradient(
    circle,
    rgba(144, 144, 144, 1) 91%,
    rgba(2, 6, 23, 1) 100%
  );
  border-image-slice: 1;
  border-radius: 1.25rem;
}
.spanHover{
  transition: all 0.3s ease;
}
.spanHover:hover{
  filter: none;
  opacity: 1;

}

.buttonBox.showMe .hide-para{
  display: flex;
  transition: all 0.3s ease;
}

.hide-para{
  display: none;
  transition: all 0.3s ease;
}

.hideBox{
  display: none;
}