@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/*  Global Variables */
:root {
  --border-color: radial-gradient(
    13932987.76% 52.13% at 50% 2900%,
    #fff 0%,
    #020617 100%
  );
  --border-right-gradient: radial-gradient(
    66.2% 24750% at 50% 50%,
    #909090 1.56%,
    #020617 100%
  );
  --color-button: #ea580c;
  --paragraph-color: #cbd5e1;
  --heading-color: #fff;
  --backgroun-color: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020617;
  font-family: "Inter", sans-serif !important;
}

.sideNav {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 5%,
    rgba(2, 6, 23, 1) 100%
  );
}
.nav-list {
  background-color: #1e293b;
}
.nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
.nav-icon p {
  color: var(--heading-color);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  max-width: 6rem;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
svg path {
  transition: 0.3s ease;
}
.nav-icon:hover {
  /* stroke: #fff; */
  opacity: 1;
}
.notification {
  opacity: 1;
}
.nav-icon:hover p {
  opacity: 1;
}
.listButton p {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  color: var(--heading-color);
}

.url-text p {
  color: var(--paragraph-color);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

.baner-head {
  font-family: Manrope;
  font-size: 3rem;
  font-style: normal;
  font-weight: 800;
  line-height: 120%;
  color: #fff;
}
.banner-header p {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.banner {
  background: url("/assets/images/journal-bg-full.png");
  background-repeat: round;
  background-size: cover;
  border-radius: 1.25rem;
}
.baner-date {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
.baner-right-head {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 140%;
}
.btn-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}
.hrLine {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) -59%,
    rgba(2, 6, 23, 1) 100%
  );
  padding: 1px;
}

.gridHead {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.cardHead {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
}
.gridCards:hover .cardHead {
  background: linear-gradient(90deg, #6dffc1 1.41%, #bd9eff 85.87%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.cardPara {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
.cardBtmText {
  gap: 1rem;
}

.arrowClass {
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  border: 2px solid var(--heading-color);
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--heading-color);
}
.arrowClass.active {
  background: #1e293b;
  opacity: 1;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* .border-div{
  background: url('/Assets/Images/frame-border.png');
  background-size: cover;
  background-repeat: no-repeat;
  

} */
@media screen and (min-width: 1920px) {
  .grid-section,
  .baner-section,
  .head {
    max-width: 1920px;
    margin: auto;
  }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
  .nav-list {
    justify-content: space-around;
  }
  .notification {
    top: -24px;
    left: 0;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  header {
    gap: 2.5rem;
  }
  .head {
    padding-top: 1.62rem;
    padding-bottom: 1.62rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    gap: 2.5rem;
  }
  .head-logo {
    width: 8rem;
    height: 3rem;
  }
  .head-ul-logo {
    width: 3rem;
    height: 3rem;
  }
  .header-div {
    align-items: center;
  }
  .header-logo-list {
    gap: 1rem;
  }
  .quote-btn {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 0px;
    padding-left: 0px;
  }
  .quote {
    font-size: 0.7rem;
    max-width: 4rem;
  }


  
  .banner-main {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 2.3rem;
  }
  .baner-head {
    max-width: 22rem;
    font-size: 2rem;
  }
  .banner-header p {
    max-width: 21rem;
    font-size: 0.8rem;
  }
  .banner-header {
    gap: 1rem;
  }
  .banner {
    flex-direction: column;
    padding-left: 1.2rem;
    padding-right: 3.2rem;
    padding-top: 1.2rem;
    padding-bottom: 1.2rem;
    gap: 1.5rem;
  }
  .baner-right-head {
    max-width: 17rem;
    font-size: 1.5rem;
  }
  .btn-box {
    max-width: 12.1875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .btn-box p {
    font-size: 0.8rem;
  }

  .hrLine {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .grid-main {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    gap: 1.25rem;
  }
  .cardHead {
    font-size: 1.25rem;
  }
  .cardPara {
    font-size: 0.87rem;
  }
  .gridBox {
    row-gap: 2.5rem;
  }
  .pagination {
    gap: 1rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 479px) {
  .head-logo {
    width: 6.6rem;
  }
  .head-ul-logo {
    max-width: 2rem;
    max-height: 2rem;
  }
  .head {
    padding-top: 0.62rem;
    padding-bottom: 0.62rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    gap: 2.5rem;
  }
  .notification {
    padding-left: 0.45rem;
    padding-right: 0.45rem;
    top: -24px;
  }
  .quote-btn {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .quote-btn p {
    font-size: 0.7rem;
  }
  .nav-list {
    gap: 1.5rem;
    justify-content: space-around;
    padding: 0.75rem 0.625rem;
  }
  .quote {
    max-width: 3.3rem;
  }
  .banner-main {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    margin-top: 2.3rem;
  }
  .baner-head {
    max-width: 22rem;
    font-size: 2rem;
  }
  .banner-header p {
    max-width: 21rem;
    font-size: 0.8rem;
  }
  .banner-header {
    gap: 1rem;
  }
  .banner {
    flex-direction: column;
    padding: 1.2rem;
    gap: 1.5rem;
  }
  .baner-date {
    margin-bottom: 0.58rem;
  }
  .baner-right-head {
    max-width: 17rem;
    font-size: 1.5rem;
    margin-bottom: 1.25rem;
  }
  .btn-box {
    max-width: 12.1875rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
  .btn-box p {
    font-size: 0.8rem;
  }

  .hrLine {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .grid-main {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    gap: 1.25rem;
  }
  .cardHead {
    font-size: 1.25rem;
  }
  .cardPara {
    font-size: 0.87rem;
  }
  .gridBox {
    row-gap: 2.5rem;
  }
  .pagination {
    gap: 1rem;
  }
}

@media screen and (min-width: 275px) and (max-width: 374px) {
  .nav-list {
    justify-content: space-evenly;
  }
  .head-logo {
    width: 6.6rem;
  }
  .head-ul-logo {
    max-width: 2rem;
    max-height: 2rem;
  }
  .head {
    padding-top: 0.92rem;
    padding-bottom: 0.62rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    gap: 1.5rem;
  }
  .header-div {
    gap: 1rem;
    justify-content: center;
  }
  .header-list {
    gap: 1rem;
  }
  .notification {
    padding-left: 0.45rem;
    padding-right: 0.45rem;
    top: -24px;
  }
  .quote-btn {
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .quote-btn p {
    font-size: 0.6rem;
  }

  .banner-main {
    padding: 1.25rem;
  }
  .banner {
    flex-direction: column;
    padding: 1rem;
    gap: 1.5rem;
  }
  .baner-head {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .baner-right-head {
    margin-bottom: 1.25rem;
  }
  .banner-header p {
    max-width: 17rem;
    font-size: 0.8rem;
  }
  .baner-date {
    margin-bottom: 0.5rem;
  }
  .btn-box {
    max-width: 11rem;
  }
  .btn-text {
    font-size: 0.87rem;
  }

  .grid-main {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    gap: 1.25rem;
  }
  .gridCards {
    gap: 1.25rem;
  }
  .cardHead {
    margin-bottom: 0.7rem;
  }
  .cardBtmText {
    gap: 0;
  }
  .gridBox {
    row-gap: 2.5rem;
  }
  .hrLine {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
  .pagination {
    gap: 0.5rem;
  }
}
