@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

/*  Global Variables */
:root {
  --border-color: radial-gradient(
    13932987.76% 52.13% at 50% 2900%,
    #fff 0%,
    #020617 100%
  );
  --border-right-gradient: radial-gradient(
    66.2% 24750% at 50% 50%,
    #909090 1.56%,
    #020617 100%
  );
  --color-button: #ea580c;
  --paragraph-color: #cbd5e1;
  --heading-color: #fff;
  --backgroun-color: #1e293b;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #020617;
  font-family: "Inter", sans-serif !important;
}

.sideNav {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 5%,
    rgba(2, 6, 23, 1) 100%
  );
}
.nav-list {
  background-color: #1e293b;
}
.nav-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
.nav-icon p {
  color: var(--heading-color);
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  max-width: 6rem;
  opacity: 0.5;
  transition: 0.3s ease-in-out;
}
svg path {
  transition: 0.3s ease-in-out;
}
.nav-icon:hover {
  /* stroke: #fff; */
  opacity: 1;
}
.notification {
  opacity: 1;
}
.nav-icon:hover p {
  opacity: 1;
}

.listButton p {
  text-align: center;
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  color: var(--heading-color);
}

.url-text p {
  color: var(--paragraph-color);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}

/* SECTION STARTS HERE */
.contact-container {
  border-width: 0 0 2px 0;
  border-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) -59%,
    rgba(2, 6, 23, 1) 100%
  );
  border-image-slice: 1;
}

.right-header {
  font-family: Helvetica;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
  color: var(--heading-color);
}
.lableText {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  color: var(--heading-color);
}

label input::placeholder {
  color: #cbd5e1;
}
label input {
  color: var(--paragraph-color);
}

.linkGroup a span {
  text-align: center;
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 112%;
  color: var(--heading-color);
  text-decoration-line: underline;
}
.linkGroup a p {
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-align: center;
}
/* .animate {
  display: inline-block;
  position: relative;
}
.animate::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.animate:hover::after,
.animate:focus::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} */

.myInput {
  background-color: #1e293b;
  outline: none;
  /* border: 1px solid ; */
}
.myInput:focus {
  border: 2px solid #464EFF;
}

.button-text {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
}

.hrLine {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) -59%,
    rgba(2, 6, 23, 1) 100%
  );
  padding: 1px;
}

.ex-para {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  color: #ef4444;
  text-align: center;
}
.invalidPara {
  display: none;
}





@media screen and (min-width:1920px)  {
  .contact-container{
    max-width: 1920px;
    margin: auto;
  }
  .head{
    max-width: 100%;
  }
  .header-div{
    max-width: 1920px;
    left: auto;
    margin: auto;
  }
}

@media only screen and (min-width: 1800px) {
  .right-header {
    font-size: 3rem;
  }
  .contact-container {
    gap: 1rem;
  }
}

@media only screen and (min-width: 1600px) and (max-width: 1799px) {
  .contact-container {
    gap: 3rem;
  }
}

@media only screen and (min-width: 480px) and (max-width: 639px) {
  .nav-list {
    justify-content: space-around;
  }
  .notification {
    top: -24px;
    left: 0;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  header {
    gap: 2.5rem;
  }
  .head {
    padding-top: 1.62rem;
    padding-bottom: 1.62rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    gap: 2.5rem;
  }
  .head-logo {
    width: 8rem;
    height: 3rem;
  }
  .head-ul-logo {
    width: 3rem;
    height: 3rem;
  }
  .header-div {
    align-items: center;
  }
  .header-logo-list {
    gap: 1rem;
  }
  .quote-btn {
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-right: 0px;
    padding-left: 0px;
  }
  .quote {
    font-size: 0.7rem;
    max-width: 4rem;
  }

  /* SECTION START HERE */
  .contact-container {
    gap: 0;
  }
  .right-header {
    margin-top: 2rem;
    font-size: 2rem;
  }
  .inputDiv{
    gap: 1.25rem;
  }
  .formGroup {
    gap: 1.25rem;
  }
  .imgDiv {
    margin-top: 2.5rem;
  }
}

@media screen and (min-width: 375px) and (max-width: 479px) {
  .nav-list {
    justify-content: space-around;
  }
  .notification {
    top: -24px;
    left: 0;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  header {
    gap: 2.5rem;
  }
  .head {
    padding-top: 1.62rem;
    padding-bottom: 1.62rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    gap: 2.5rem;
  }
  .head-logo {
    width: 6rem;
  }
  .head-ul-logo {
    width: 2rem;
    height: 2rem;
  }
  .header-div {
    align-items: center;
  }
  .header-logo-list {
    gap: 10px;
  }
  .quote-btn {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 3px;
    padding-right: 3px;
  }
  .quote {
    font-size: 0.7rem;
    max-width: 3rem;
  }

  /* SECTION START HERE */

  .right-header {
    font-size: 2rem;
  }

  .formGroup {
    gap: 1.25rem;
  }
  .imgDiv {
    margin-top: 2.5rem;
  }
  .inputDiv{
    gap: 1.25rem;
  }
}

@media screen and (min-width: 275px) and (max-width: 374px) {
  .nav-list {
    justify-content: space-around;
  }
  .notification {
    top: -24px;
    left: 0;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
  }
  header {
    gap: 2.5rem;
  }
  .head {
    padding-top: 1.62rem;
    padding-bottom: 1.62rem;
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    gap: 2.5rem;
  }
  .head-logo {
    width: 6rem;
  }
  .head-ul-logo {
    width: 2rem;
    height: 2rem;
  }
  .header-div {
    align-items: center;
  }
  .header-logo-list {
    gap: 10px;
  }

  .quote-btn {
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
  }
  .quote {
    font-size: 0.7rem;
    max-width: 3rem;
  }

  /* SECTION START HERE */

  .right-header {
    font-size: 2rem;
  }
  .formGroup {
    gap: 1.25rem;
  }
  .imgDiv {
    margin-top: 2.5rem;
  }
  .inputDiv{
    gap: 1.25rem;
  }
}
